/* Container to set the width */
body {
  background-color: lightgray;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: white;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.content {
  height: 100vh;
}

/*#f2f6f5*/
/*#C8DAD3*/
/*#93B5B3*/
/*#63707E*/