body {
  background: linear-gradient(to right, #f0e1b9ff 50%, #f3db74ff 50%);
}

.container {
  max-width: 1200px;
  margin: auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.content {
  height: 100vh;
}

.padLeft {
  padding-left: 10px;
}

.padRight {
  padding-right: 10px;
}

.number-spacing {
  letter-spacing: 5px;
}

/*White (#FCF6F5FF), Vanilla Custard (#F0E1B9FF), Goldfinch (#F3DB74FF) and Scarlet Sage (#A13941FF)*/