.participantContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    display: block;
}

.inputContent {
    background-color: #fcf6f5ff;
    border-radius: 20px;
}

.inputForm > input {
    border: none;
    background-color: transparent;
}

.inputForm {
    padding: 10px;
    border-radius: 20px;
}

.tableContent {
    width: 30%;
    height: 350px;
    background-color: #a13941ff;
    border-radius: 20px;
    padding: 10px;
}

.participantTable {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    color: #fcf6f5ff;
}

.done-btn {
    text-align: center;
    bottom: 0;
}