.invoice-container {
    display: block;
    justify-content: center;
    background-color: #93B5B3;
}

.invoice-detail {
    width: 100%;
    border-collapse: collapse;
}

.invoice-detail td {
    border: 1px solid black;
}

.form-fieldset {
    width: 30%;
}

.table-container {
    padding-left: 100px;
    padding-right: 100px;
}